/build
/dist
.vscode
/phoebe/atmospheres/tables/ck2004
/phoebe/atmospheres/tables/ck2004i
/phoebe/atmospheres/tables/phoenix*
/phoebe/atmospheres/tables/tmap
/phoebe/atmospheres/tables/tlusty
/phoebe/atmospheres/tables/phoenix.orig
/phoebe/dependencies/ndpolator/docs
MANIFEST
*checkme*
*_tmp*
*after.phoebe
*test.legacy
*.ipynb_checkpoints*
*.pyc*
*.active
*.profile
*.log
*.txt
*.png
*.o
*.so
*.egg-info
.DS_Store

*.swp
