/build
/dist
.vscode
/phoebe/atmospheres/tables/ck2004
/phoebe/atmospheres/tables/ck2004i
/phoebe/atmospheres/tables/phoenix
MANIFEST
*_tmp*
*after.phoebe
*test.legacy
*.ipynb_checkpoints*
*.pyc*
*.active
*.profile
*.log
*.txt
*.png
.DS_Store
libphoebe.so

*.swp
