# https://travis-ci.org/phoebe-project/phoebe2

language: none

addons:
  apt:
    sources:
    # add PPAs with more up-to-date toolchains
    - ubuntu-toolchain-r-test
    - llvm-toolchain-precise-3.6
    packages:
    - gfortran
    - g++-5
    - gcc-5
    - clang-3.6
    - libstdc++-5-dev

sudo: required
dist: trusty

env:
    global:
        # Set defaults to avoid repeating in most cases
        - CONDA_DEPENDENCIES='scipy matplotlib sympy'
        - PIP_DEPENDENCIES='nose rebound'
        - NOSETESTS=1
        - BENCHMARK=0


matrix:

    # Don't wait for allowed failures
    fast_finish: true

    include:

        # Try with various compilers with default version of numpy/astropy
        - os: linux
          compiler: g++-5
          env: CXX=g++-5 PYTHON_VERSION=2.7 NUMPY_VERSION=1.10 ASTROPY_VERSION=1.0 NOSETESTS=1'

        # clang fails to build phoebe1
        # - os: linux
        #   compiler: clang-3.6
        #   env: PYTHON_VERSION=2.7 NUMPY_VERSION=1.10 ASTROPY_VERSION=1.0 NOSETESTS=0'

        # - os: osx
        #   compiler: clang-3.6
        #   env: PYTHON_VERSION=2.7 NUMPY_VERSION=1.10 ASTROPY_VERSION=1.0 NOSETESTS=1'


        # Try with various versions of numpy/astropy with default compiler
        - os: linux
          compiler: g++-5
          env: CXX=g++-5 PYTHON_VERSION=2.7 NUMPY_VERSION=stable ASTROPY_VERSION=stable NOSETESTS=1'

        # - os: linux
        #   compiler: g++-5
        #   env: CXX=g++-5 PYTHON_VERSION=2.7 NUMPY_VERSION=dev ASTROPY_VERSION=dev NOSETESTS=1'

        # Try with various versions of python with default numpy/astropy and compiler
        # - os: linux
        #   compiler: g++
        #   env: PYTHON_VERSION=3.3 NUMPY_VERSION=1.10 ASTROPY_VERSION=1.0'

        # - os: linux
        #   compiler: g++
        #   env: PYTHON_VERSION=3.4 NUMPY_VERSION=1.10 ASTROPY_VERSION=1.0'

        # - os: linux
        #   compiler: g++
        #   env: PYTHON_VERSION=3.5 NUMPY_VERSION=1.10 ASTROPY_VERSION=1.0'


        # and lastly, run the benchmarks
        - os: linux
          compiler: g++-5
          env: CXX=g++-5 PYTHON_VERSION=2.7 NUMPY_VERSION=1.10 ASTROPY_VERSION=1.0 NOSETESTS=0 BENCHMARK=1'

    allow_failures:
      - env: NUMPY_VERSION=dev


before_install:
    - if [[ $TRAVIS_OS_NAME == 'osx' ]];
      then brew update && brew install gcc coreutils gnu-sed gtk+ libglade libgnomecanvas sdl libusb libusb-compat gsl opam wget dfu-util;
      fi;

install:
    - git clone git://github.com/astropy/ci-helpers.git
    - source ci-helpers/travis/setup_conda.sh
    - python setup.py build
    - python setup.py install --user
    - mkdir ~/.phoebe-svn
    - cp tests/travis/phoebe.config ~/.phoebe-svn/
    - git clone git://github.com/phoebe-project/phoebe1.git
    - cd phoebe1/phoebe-lib
    - ./configure
    - make
    - sudo make install
    - if [[ $TRAVIS_OS_NAME == 'linux' ]]; then sudo ldconfig -v; fi;
    - cd ../phoebe-py
    - python setup.py build
    - python setup.py install --user
    - cd ../..
    - git clone git://github.com/phoebe-project/photodynam.git
    - cd photodynam
    - make
    - sudo cp photodynam /usr/local/bin/
    - python setup.py build
    - python setup.py install --user
    - cd ..


script:
    - if [ $NOSETESTS == 1 ];
      then nosetests -v -s -d -w tests/nosetests/;
      fi;

after_success: |
    if [ $BENCHMARK == 1 ] && [ -n $GITHUB_API_KEY ] && [ $TRAVIS_PULL_REQUEST == 'false' ]; then
        git clone git://github.com/phoebe-project/phoebe2-benchmark.git
        cp ./phoebe2-benchmark/*.log ./tests/benchmark/ 2>/dev/null || :
        cd tests && python run_tests.py benchmark
        cp ./benchmark/*.profile ../phoebe2-benchmark/ 2>/dev/null || :
        cp ./benchmark/*.log ../phoebe2-benchmark/ 2>/dev/null || :
        cp ./benchmark/*.log.png ../phoebe2-benchmark 2>/dev/null || :
        cd ../phoebe2-benchmark
        git add *.profile
        git add *.log
        git add *.png
        git -c user.name='travis' -c user.email='travis' commit -m "updating benchmarks" -m "branch: $TRAVIS_BRANCH   commit: https://github.com/phoebe-project/phoebe2/commit/$TRAVIS_COMMIT"
        git push -q -f https://kecnry:$GITHUB_API_KEY@github.com/phoebe-project/phoebe2-benchmark master
    fi
