html { 
    background: #f2f1f0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#body {
    background-color: #F6F4F2; 
    font-size: 10px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#panel   { 
    width:140px; 
    float:left;
}

#content {
    margin-left:75px; 
    float:left; 
}

/* items */

ul { 
    list-style-type: none; 
    margin: 0px; 
    #padding: 0; 
    #margin-right: 10px; 
    #padding-left: 15px; 
    #width: 600px;
}

#panel ul {
    width: 140px;
}

h2 {
    padding: 0px;
    margin: 5px;
}


li {
    margin: 5px;
    padding: 1px;
    font-size: 1.3em;
    width: 140px;
    border: 2px solid #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin: 0 10px 2px 0;
    background: #fff;
}

#groupnew, #groupsys, #grouppool {
    margin: 0 auto;
    background: #fff;
    width: auto;
    height: auto;
    padding: 10px 15px 10px 10px;
    border: 1.5px solid #333;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    #-moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    #-webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    #box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

li.drop {
    color: #fff;
    border-style: dashed;
}

#groupsys .ui-selecting { 
    color: #FECA40; 
}

#groupsys .ui-selected { 
    color: #fff; 
    background: #aaa;
}

#groupsys li.parent {
    font-size: 2px;
    #border-color:  #0000FF;
    #padding: 0px;
    margin: 0 0 2px 2px;
}

#groupsys li.bumpright {
    #color: #FF0000;
    margin: 0 0 2px 15px;
}

li.hovered {
    background: #aaa;
    color: #aaa;
}

li.ui-draggable-dragging {
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

