[Desktop Entry]
Type=Application
Name=PHOEBE
Version=0.31
Comment=PHysics Of Eclipsing BinariEs
Terminal=no
TryExec=phoebe-gui
Exec=phoebe-gui %f
Icon=phoebe-gui.png
Categories=Education;Science;Astronomy;DataVisualization;NumericalAnalysis;Physics;GTK
MimeType=application/x-phoebe;

