GUI_CONFIRM_ON_OVERWRITE = 1
GUI_BEEP_AFTER_PLOT_AND_FIT = 0
GUI_ANGLE_UNITS      = Radians
PHOEBE_BASE_DIR      = /usr/local/share/phoebe
PHOEBE_DEFAULTS_DIR  = /usr/local/share/phoebe
PHOEBE_TEMP_DIR      = /tmp
PHOEBE_DATA_DIR      = /usr/local/share/phoebe
PHOEBE_PTF_DIR       = /usr/local/share/phoebe/ptf
PHOEBE_LD_SWITCH     = 0
PHOEBE_LD_INTERN     = 0
PHOEBE_LD_DIR        = /usr/local/share/phoebe
PHOEBE_LD_VH_DIR     = /usr/local/share/phoebe
PHOEBE_KURUCZ_SWITCH = 0
PHOEBE_KURUCZ_DIR    = /usr/local/share/phoebe/kurucz
PHOEBE_PLUGINS_DIR   = /usr/local/lib/phoebe/plugins
LOAD_ATM_TO_MEMORY   = 1
DUMP_LCOUT_FILES     = 1
